@import "./generalStyles";

// general opmaak
%opmaak{
    p{
        padding: 0;
        margin: 0;
    }
    h1, h2, h3, h4, h5{
        padding: 0;
        margin: 0;
    }
    box-sizing: border-box;
}

// Navigation
%navigation{
    nav{
        height: 8vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        .brand{
            font-family: $headerFont;
            color: $primary1Color;
            font-size: 1.25rem;
        }
        button{
            span{}
        }
        div{
            display: flex;
            justify-content: flex-end;
            .navigation-list{
                color: $primary1Color;
                li{
                    a{
                        padding: 0;
                        color: $primary1Color;
                        ion-icon{
                            color: $primary1Color;
                            font-size: $iconSize;
                        }
                    }
                    .active{
                        text-decoration: underline;
                        color: $primary1Color;
                    }
                }
                @media only screen and (max-width: 768px){
                    width: 100%;
                    li{
                        &:nth-child(5){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Footer
%footer{
    footer{
        background-color: $primary1Color;
        color: $primary2Color;
        margin: 0;
        @media only screen and (max-width: 768px){
            .column2-footer{
                order: 2;
            }
        }
        .column1-footer{
            padding: 0;
            .column1-footer-links{
                a{
                    color: $primary2Color;
                    font-family: $bodyFont;
                    text-decoration: underline;
                }
            }
        }
        .column2-footer{
            padding: 0;
            font-family: $bodyFont;
            h2{
                font-family: $headerFont;
            }
            a{
                color: $primary2Color;
                ion-icon{
                    font-size: $iconSize;
                    margin: 0 5px;
                }
            }
        }
        .column3-footer{
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $bodyFont;
            .column3-footer-info{
                .info{
                    display: flex;
                    ion-icon{
                        font-size: $iconSize;
                        margin: 0 15px;
                    }
                    a{
                        text-decoration: underline;
                        color: $primary2Color;
                    }
                }
            }
        }
    }
}