@import "./generalStyles";

// Navigation
%navigation{
    nav{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        .brand{
            font-family: $mainFont;
            font-size: 1.25rem;
        }
        button{
            span{}
        }
        div{
            display: flex;
            justify-content: flex-end;
            .navigation-list{
                color: $mainColor;
                li{
                    a{
                        padding: 0;
                        color: $mainColor;
                        ion-icon{
                            color: $mainColor;
                            font-size: $iconSize;
                        }
                    }
                }
                @media only screen and (max-width: 768px){
                    width: 100%;
                    li{
                        &:nth-child(5){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Footer