@import "./generalStyles";

// Navigation
%navigation{
    nav{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        .brand{
            font-family: $mainFont;
            font-size: 1.25rem;
        }
        button{
            span{}
        }
        div{
            display: flex;
            justify-content: flex-end;
            .navigation-list{
                color: $mainColor;
                li{
                    a{
                        padding: 0;
                        color: $mainColor;
                        ion-icon{
                            color: $mainColor;
                            font-size: $iconSize;
                        }
                    }
                }
                @media only screen and (max-width: 768px){
                    width: 100%;
                    li{
                        &:nth-child(5){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Footer
%footer{
    footer{
        background-color: $mainColor;
        font-size: $mainFontSize;
        height: 300px;
        color: white;
        .column-footer1{
            padding: 0;
            font-family: $secondaryFont;
            text-decoration: underline;
        }
        .column-footer2{
            padding: 0;
            width: 100%;
            font-family: $secondaryFont;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            h2{
                font-family: $mainFont;
            }
            ion-icon{
                font-size: $iconSize;
                margin: 0 7.5px;
            }
        }
        .column-footer3{
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $secondaryFont;
            .column-footer3-info{
                .info{
                    display: flex;
                    ion-icon{
                        font-size: $iconSize;
                        margin: 3px 15px;
                    }
                    p{}
                }
            }
        }
    }
}