// Fonts
$mainFont: cubano, sans-serif;
$secondaryFont: proxima-soft, sans-serif;

// Fonts sizes
$headerFontSize: 3.125rem;
$mainFontSize: 1rem;

// Colors
$mainColor: black;

// Icons
$iconSize: 1.5625rem;