@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
    background-image: linear-gradient(#74E3CF, #CCF2EB, #CCF2EB);
    overflow-x: hidden;
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            .row-koop-nu{
                height: 92vh;
                .col-koop-nu-foto{
                    img{
                        max-height: 80%;
                    }
                }
                .col-koop-nu-info{
                    div{
                        h1{
                        }
                        p{}
<<<<<<< HEAD
                        button{}
=======
                        button{
                        }
>>>>>>> 05629a6ba35502d0e289780cc3222687be13bcc1
                    }
                    .sun{
                        z-index: -1;
                        top: -200px;
                        left: 500px;
                    }
                }
            }
            .row-specs{
                flex-wrap: nowrap;
                height: 92vh;
                .row-specs-title{
                    height: 15%;
                    h1{
                        
                    }
                }
                .row-specs-content{
                    height: 75%;
                    div{
                      img{
                        max-width: 80%;
                        height: auto;
                      }
                    }
                    .cloud1{
                        z-index: -1;
                        top: -50px;
                        left: -350px;
                    }
                    .cloud2{
                        z-index: -1;
                        top: 500px;
                    }
                    button{}
                }
            }
            .row-myping{
                height: 92vh;
                .row-myping-mockup{
                    position: relative;
                    .mockup1{
                        height: 75%;
                    }
                    .mockup2{
                        z-index: -1;
                        position: absolute;
                        height: 71%;
                        left: 150px;
                        bottom: 125px;
                    }
                }
                .row-myping-info{
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    .row-myping-info-box{
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            h1{
                            }
                            p{
                            }
                            ul{
                                li{}
                            }
                            button{}
                        }
                    }
                    .cloud3{
                        z-index: -2;
                        top: 380px;
                        right: -225px;
                    }
                }
            }
            .row-overping{
                height: 92vh;
                .row-overping-titel{
                    h1{
                    }
                }
                .row-overping-tekstblokken{
                    .team-focus-missie{
                        h4{
                          font-family: $bodyFont;
                          font-weight: 600;
                          margin-bottom: 3rem;
                        }
                        p{
                        }
                    }
                }
                .row-overping-info{
                    button{}
                }
                .cloud4{
                    z-index: -1;
                    top: -100px;
                    left: -200px;
                }
            }
        }
        @extend %footer;
    }
}