@import "./components";
@import "./generalStyles";
*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            .row-koop-nu{
                height: 92vh;
                .col-koop-nu-foto{
                  
                    img{
                        max-height: 80%;
                    }
                }
                .col-koop-nu-info{
                    div{
                        h1{
                            font-family: $headerFont;
                        }
                        p{}
                        button{}
                    }
                }
            }
            .row-specs{
                flex-wrap: nowrap;
                height: 92vh;
                .row-specs-title{
                 
                    height: 15%;
                    h1{
                        font-family: $headerFont;
                        
                    }
                }
                .row-specs-content{
                    height: 75%;
                    div{
                      img{
                        max-width: 80%;
                        height: auto;
                        
                      }
                    }
                    button{}
                }
            }
            .row-myping{
                height: 92vh;
                .row-myping-mockup{
                    img{
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                .row-myping-info{
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    .row-myping-info-box{
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            h1{
                                font-family: $headerFont;
                            }
                            p{
                            }
                            ul{
                                li{}
                            }
                            button{}
                        }
                    }
                }
            }
            .row-overping{
                height: 92vh;
                .row-overping-titel{
                    h1{
                        font-family: $headerFont;
                    }
                }
                .row-overping-tekstblokken{
                    .team-focus-missie{
                        h4{
                        
                          font-family: $bodyFont;
                          font-weight: 600;
                          margin-bottom: 3rem;
                        }
                        p{
                        
                            font-family: $bodyFont;
                            font-size: $bodyFontSize;
                        }
                    }
                }
                .row-overping-info{
                    button{}
                }
            }
        }
        @extend %footer;
    }
}