@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body {
    .fullpage {
        @extend %navigation;
        main {
            margin-top: 8vh;
            height: 92vh;
            .row {
                height: 100%;
                .login {
                    .login-header {
                        h1 {
                            font-family: $headerFont;
                        }
                    }
                    .login-email {}
                    .login-wachtwoord {}
                    .login-checkbox {}
                    .login-button {}
                }
                .registreer {
                    background-color: red;
                    .registreer-header {
                        font-family: $headerFont
                    }
                    .registreer-naam {}
                    .registreer-email {}
                    .registreer-straat {}
                    .registreer-telefoon {}
                    .registreer-wachtwoord {}
                    .registreer-stad {}
                }
            }
        }
        @extend %footer;
    } 
}           