@import "./generalStyles";
@import "./components";

body{
    .fullpage{
        @extend %navigation;
        .main{
            margin-top: 6vh;
            .row{
                margin: 150px 0;
                &:nth-child(1){
                    margin: 100px 0;
                }
                &:nth-child(2){
                    margin: 0;
                }
                .column-header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-text{
                        font-family: $mainFont;
                        font-size: $headerFontSize *1.5;
                    }
                    h4{
                        font-family: $secondaryFont;
                    }
                    p{
                        font-family: $secondaryFont;
                    }
                }
                .column-content{
                    height: 200px;
                    h1{
                        font-family: $mainFont;
                        font-size: $headerFontSize;
                    }
                    p{
                        font-style: italic;
                    }
                }
                .column-picture{
                    height: 100%;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                    &:nth-child(odd){
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    }
                    &:nth-child(even){
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
                &:first-child{
                    height: 44vh;
                }
            }
        }
        footer{
        }
    }
}