* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  border: none !important;
  border-radius: 10px;
  padding: 12px 40px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

body .fullpage nav {
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list {
  color: #011627;
}

body .fullpage nav div .navigation-list li a {
  padding: 0;
  color: #011627;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
}

body .fullpage footer {
  background-color: #011627;
  color: #fdfffc;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body .fullpage footer .column2-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .fullpage footer .column1-footer {
  padding: 0;
}

body .fullpage footer .column1-footer .column1-footer-links a {
  color: #fdfffc;
  font-family: proxima-soft, sans-serif;
  text-decoration: underline;
}

body .fullpage footer .column2-footer {
  padding: 0;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column2-footer h2 {
  font-family: cubano, sans-serif;
}

body .fullpage footer .column2-footer a {
  color: #fdfffc;
}

body .fullpage footer .column2-footer a ion-icon {
  font-size: 1.5625rem;
  margin: 0 5px;
}

body .fullpage footer .column3-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column3-footer .column3-footer-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fullpage footer .column3-footer .column3-footer-info .info ion-icon {
  font-size: 1.5625rem;
  margin: 0 15px;
}

body .fullpage footer .column3-footer .column3-footer-info .info a {
  text-decoration: underline;
  color: #fdfffc;
}

body .fullpage main {
  margin-top: 8vh;
}

body .fullpage main .row .column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .fullpage main .row .column-header .header-text {
  font-size: 4.6875rem;
}

body .fullpage main .row .column-header h4 {
  font-family: proxima-soft, sans-serif;
}

body .fullpage main .row .column-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body .fullpage main .row .column-content p {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row .column-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body .fullpage main .row .column-picture {
  height: 100%;
}

body .fullpage main .row .column-picture img {
  width: 200px;
  height: 200px;
}

body .fullpage main .row .column-picture:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=overOns.css.map */