@import "./generalStyles";
@import "./components";

body{
    .fullpage{
        @extend %test;
        .main{
            margin-top: 6vh;
            .row{
                height: 50vh;
                .column{
                    height: 100%;
                }
                .column-header{
                    display: flex;
                    align-items: center;
                    .header-text{
                        font-family: $mainFont;
                        font-size: $headerFontSize;
                    }
                    h4{
                        font-family: $secondaryFont;
                    }
                    p{
                        font-family: $secondaryFont;
                    }
                }
                &:first-child{
                    height: 44vh;
                }
            }
        }
        footer{}
    }
}