@import "./generalStyles";

body{
    .fullpage{
        nav{
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1;
            .brand{
                font-family: $mainFont;
                font-size: 20px;
            }
            button{
                span{}
            }
            div{
                display: flex;
                justify-content: flex-end;
                .navigation-list{
                    color: $mainColor;
                    a{
                        padding: 0;
                        color: $mainColor;
                        ion-icon{
                            color: $mainColor;
                            font-size: $iconSize;
                        }
                        &:nth-child(4){
                            border-right: 1px solid $mainColor;
                        }
                    }
                }
            }
        }
        .main{
            margin-top: 6vh;
            .row{
                height: 50vh;
                .column{
                    height: 100%;
                }
                .column-header{
                    display: flex;
                    align-items: center;
                    .header-text{
                        font-family: $mainFont;
                        font-size: $headerFontSize;
                    }
                    h4{
                        font-family: $secondaryFont;
                    }
                    p{
                        font-family: $secondaryFont;
                    }
                }
                &:first-child{
                    height: 44vh;
                }
            }
        }
        footer{


        }
    }
}