@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            height: 92vh;
            @media only screen and (max-width: 768px){
                height: auto;
             }
            .row{
                .bestel-foto{
                    img{
                        width: 45%;
                        height: auto;
                    }
                }
                .bestel-info{
                   span {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        display: inline-block;
                        text-align:center;
                        margin-right: 8px;
                        margin-top: 20px;
                    }
                    .dot-r{
                        background-color: #F02A00;
                        border: solid 2px black;
                    }
                    .dot-y{
                        background-color: #EAF000;
                    }
                   .dot-b{
                        background-color: #00B4F0;
                    }
                   .main-container-col2-truck{
                        margin: 0%;
                        width: 50px;
                        height: auto;
                    }
                    .main-container-col2-gratis{
                        font-weight: 900;
                    }
                    .main-container-col2-retour{
                        display: flex;
                        align-items: flex-start;
                        p{
                            margin-left: 10px;
                            margin-bottom: 0px !important;
                        }
                    }
                    .main-container-col2-compinfo{
                        display: flex;
                        justify-content: space-between;
                        p{
                            font-weight: 900;
                        }
                    }
               }
            }
        }
        @extend %footer;
    }
    .custom-popup{
        .modal-dialog{
            max-width: 600px !important; 
        }
    }
}