* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  color: #fdfffc;
  border: none !important;
  border-radius: 5px;
  padding: 8px 30px;
}

* .custom-button-stroke {
  font-family: proxima-soft, sans-serif;
  background-color: white !important;
  color: #ff9f1c;
  border: solid 2px #ff9f1c !important;
  border-radius: 5px;
  padding: 6px 30px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

* h4 {
  font-family: proxima-soft, sans-serif;
}

body .fullpage nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
          box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav button {
  border: none;
  outline: none;
}

body .fullpage nav button div .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu {
  width: 50px;
  height: 5px;
  background-color: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu::before, body .fullpage nav button div .hamburger .hamburgermenu::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu::before {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

body .fullpage nav button div .hamburger .hamburgermenu::after {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
}

body .fullpage nav button div .hamburger.open .hamburgermenu {
  background-color: transparent;
}

body .fullpage nav button div .hamburger.open .hamburgermenu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .fullpage nav button div .hamburger.open .hamburgermenu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list li a {
  position: relative;
  padding: 0;
  color: #011627 !important;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li a .winkelmandje-aantal {
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  right: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff9f1c;
  color: white;
  font-size: 10px;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 767px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li {
    padding: 10px 0;
    width: 100px;
    border-bottom: 1px solid black;
  }
  body .fullpage nav div .navigation-list li a, body .fullpage nav div .navigation-list li ion-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
  body .fullpage nav div .navigation-list li a .winkelmandje-aantal, body .fullpage nav div .navigation-list li ion-icon .winkelmandje-aantal {
    right: 32px;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
  body .fullpage nav div .navigation-list li:last-child {
    border-bottom: none;
  }
}

body .fullpage footer {
  background-color: #011627;
  color: #fdfffc;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body .fullpage footer .column2-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .fullpage footer .column1-footer {
  padding: 0;
}

body .fullpage footer .column1-footer .column1-footer-links a {
  color: #fdfffc;
  font-family: proxima-soft, sans-serif;
  text-decoration: underline;
}

body .fullpage footer .column2-footer {
  padding: 0;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column2-footer h2 {
  font-family: cubano, sans-serif;
}

body .fullpage footer .column2-footer a {
  text-decoration: none;
  color: #fdfffc;
}

body .fullpage footer .column2-footer a ion-icon {
  font-size: 1.5625rem;
  margin: 0 5px;
}

body .fullpage footer .column3-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column3-footer .column3-footer-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fullpage footer .column3-footer .column3-footer-info .info ion-icon {
  font-size: 1.5625rem;
  margin: 0 15px;
}

body .fullpage footer .column3-footer .column3-footer-info .info a {
  text-decoration: underline;
  color: #fdfffc;
}

body .fullpage main {
  margin-top: 8vh;
  min-height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main {
    height: auto;
  }
}

body .fullpage main .row .bestel-foto img {
  width: 45%;
  height: auto;
}

body .fullpage main .row .bestel-info span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  margin-top: 20px;
}

body .fullpage main .row .bestel-info .dot-r {
  background-color: #F02A00;
  border: solid 2px black;
}

body .fullpage main .row .bestel-info .dot-y {
  background-color: #EAF000;
}

body .fullpage main .row .bestel-info .dot-b {
  background-color: #00B4F0;
}

body .fullpage main .row .bestel-info .main-container-col2-truck {
  margin: 0%;
  width: 50px;
  height: auto;
}

body .fullpage main .row .bestel-info .main-container-col2-gratis {
  font-weight: 900;
}

body .fullpage main .row .bestel-info .main-container-col2-retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .fullpage main .row .bestel-info .main-container-col2-retour p {
  margin-left: 10px;
  margin-bottom: 0px !important;
}

body .fullpage main .row .bestel-info .main-container-col2-compinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .fullpage main .row .bestel-info .main-container-col2-compinfo p {
  font-weight: 900;
}

body .custom-popup .modal-dialog {
  max-width: 600px !important;
}

@media only screen and (max-width: 576px) {
  body .custom-popup .modal-dialog .popupcontent {
    display: block !important;
  }
}

body .custom-popup .modal-dialog .popupcontent .popupcontent-kleur {
  margin-left: 50px;
}

body .custom-popup .modal-dialog .popupcontent .popupcontent-kleur .popupcontentkleur-pingwing {
  font-family: cubano, sans-serif;
  font-size: 1.7rem;
}

body .custom-popup .modal-dialog .popupcontent .popupcontent-prijs {
  text-align: center;
}

body .custom-popup .modal-dialog .popupcontent .popupcontent-prijs .popupcontentprijs-prijs {
  font-size: 2rem !important;
  padding: 0;
}
/*# sourceMappingURL=bestel.css.map */