@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            height: 92vh;
            @media only screen and (max-width: 768px){
               height: auto;
            }
            .row{
                .contact-form{
                    .contact-form-header{
                        h1{
                        }
                    }
                    .contact-form-input{
                        height: 400px;
                        div{
                            div{
                                label{
                                    font-family: $bodyFont;
                                }
                                input{
                                }
                                textarea{
                                    resize: none;
                                }
                            }
                            button{
                            }
                        }
                    }
                }
                .contact-map{
                    .contact-map-header{
                        h5{
                            font-family: $headerFont;
                        }
                    }
                    .contact-map-maps{
                        iframe{
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
        }
        @extend %footer;
    }
}