@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
    background-image: linear-gradient(#74E3CF, #CCF2EB, #CCF2EB);
    overflow-x: hidden;
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            .row-koop-nu{
                height: 92vh;
                position: relative;
                .eiland{
                    position: absolute;
                    top: 100px;
                    width: 35%;
                    z-index: -1;
                    animation: zweef 6s ease-in-out infinite;
                    transform: translatey(0px);
                    @keyframes zweef {
                        0% {
                            transform: translatey(0px);
                        }
                        50% {
                            transform: translatey(-30px);
                        }
                        100% {
                            transform: translatey(0px);
                        }
                    }
                }
                .col-koop-nu-foto{
                    img{
                    }
                }
                .col-koop-nu-info{
                    div{
                        h1{
                        }
                        p{}
                        button{
                        }
                    }
                    .sun{
                        z-index: -1;
                        top: -200px;
                        left: 450px;
                    }
                }
            }
            .row-specs{
                flex-wrap: nowrap;
                height: 92vh;
                .row-specs-title{
                    height: 15%;
                    h1{
                        
                    }
                }
                .row-specs-content{
                    height: 75%;
                    div{
                      img{
                        max-width: 58%;
                        height: auto;
                      }
                    }
                    .cloud1{
                        z-index: -1;
                        top: -50px;
                        left: -350px;
                        width: 120%;
                    }
                    .cloud2{
                        z-index: -1;
                        top: 500px;
                    }
                    button{}
                }
            }
            .row-myping{
                height: 92vh;
                .row-myping-mockup{
                    position: relative;
                    .mockup1{
                        height: 65%;
                    }
                    .mockup2{
                        z-index: -1;
                        position: absolute;
                        height: 60%;
                        left: 150px;
                        bottom: 125px;
                    }
                }
                .row-myping-info{
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    .row-myping-info-box{
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            h1{
                            }
                            p{
                            }
                            ul{
                                li{}
                            }
                            button{}
                        }
                    }
                    .cloud3{
                        z-index: -2;
                        top: 380px;
                        right: -225px;
                    }
                }
            }
            .row-overping{
                height: 92vh;
                .row-overping-titel{
                    h1{
                    }
                }
                .row-overping-tekstblokken{
                    .team-focus-missie{
                        h4{
                          font-family: $bodyFont;
                          font-weight: 600;
                          margin-bottom: 3rem;
                        }
                        p{
                        }
                    }
                }
                .row-overping-info{
                    button{}
                }
                .cloud4{
                    z-index: -1;
                    top: -100px;
                    left: -200px;
                }
            }
        }
        .footer-image{
            height: 150vh;
        }
        .fotos{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &#bovenlqqg{
                z-index: 0;
                top: 2260px;
            }
            &#mountain{
                width: 62%;
                z-index: 1;
                top: 2490px;
            }
            &#beach{
                z-index: 2;
                top: 3200px;
            }
            &#land{
                z-index: 3;
                top: 3365px;
            }
        }
        @extend %footer;
        footer{
            background-color: #342D22;
        }
    }
}