@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
    background-image: linear-gradient(#74E3CF, #CCF2EB, #CCF2EB);
    overflow-x: hidden;
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            .row-koop-nu{
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .col-koop-nu-foto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .eiland{
                    margin-top: 100px;
                    width: 90%;
                    z-index: -1;
                    animation: zweef 6s ease-in-out infinite;
                    transform: translatey(0px);
                    @keyframes zweef {
                        0% {
                            transform: translatey(0px);
                        }
                        50% {
                            transform: translatey(-30px);
                        }
                        100% {
                            transform: translatey(0px);
                        }
                    }
                }
                    .replaceimage{
                        width: 75%;
                    }
                }
                .col-koop-nu-info{
                    position: relative;
                    div{
                        h1{
                        }
                        p{}
                        button{
                        }
                    }
                    .sun{
                        position: absolute;
                        z-index: -1;
                        top: -200px;
                        left: 450px;
                        @media only screen and (max-width: 768px){
                            display: none;
                        }
                    }
                }
            }
            .row-specs{
                flex-wrap: nowrap;
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .row-specs-title{
                    height: 15%;
                    h1{
                        @media only screen and (max-width: 576px){
                            font-size: $headerFontSize;
                        }
                    }
                }
                .row-specs-content{
                    height: 75%;
                    position: relative;
                    div{
                      img{
                          max-width: 75%;
                      }
                    }
                    .cloud1{
                        z-index: -1;
                        top: -50px;
                        left: -350px;
                        width: 100%;
                        position: absolute;
                    }
                    .cloud2{
                        z-index: -1;
                        top: 400px;
                        width: 70%;
                        position: absolute;
                    }
                    button{}
                }
            }
            .row-myping{
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .row-myping-mockup{
                    position: relative;
                    .mockup1{
                        height: 65%;
                    }
                    .mockup2{
                        z-index: -1;
                        position: absolute;
                        height: 60%;
                        left: 150px;
                        bottom: 125px;
                    }
                }
                .row-myping-info{
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    .row-myping-info-box{
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            h1{
                                @media only screen and (max-width: 576px){
                                    font-size: $headerFontSize;
                                }
                            }
                            p{
                            }
                            ul{
                                li{}
                            }
                            button{}
                        }
                    }
                    .cloud3{
                        z-index: -2;
                        top: 380px;
                        right: -100px;
                        width: 100%;
                    }
                }
            }
            .row-overping{
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .row-overping-titel{
                    h1{
                        @media only screen and (max-width: 576px){
                            font-size: $headerFontSize;
                        }
                    }
                }
                .row-overping-tekstblokken{
                    .team-focus-missie{
                        h4{
                          font-family: $bodyFont;
                          font-weight: 600;
                        }
                        p{
                        }
                    }
                }
                .row-overping-info{
                    button{}
                }
                .cloud4{
                    z-index: -1;
                    top: -100px;
                    left: 0px;
                    width: 50%;
                }
            }
        }
        .footer-image{
            .fotos{
                &#bovenlqqg{
                }
                &#mountain{
                }
                &#beach{
                }
                &#water{
                }
                &#land{
                }
            }
        }
        @extend %footer;
        footer{
            background-color: #342D22;
        }
    }
}