@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
    background-image: linear-gradient(#74E3CF, #CCF2EB, #CCF2EB);
    .fullpage{
        @extend %navigation;
        overflow-x: hidden;
        main{
            margin-top: 8vh;
            .row-koop-nu{
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .col-koop-nu-foto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .eiland{
                    margin-top: 100px;
                    width: 90%;
                    z-index: -1;
                    animation: zweef 6s ease-in-out infinite;
                    transform: translatey(0px);
                    @keyframes zweef {
                        0% {
                            transform: translatey(0px);
                        }
                        50% {
                            transform: translatey(-30px);
                        }
                        100% {
                            transform: translatey(0px);
                        }
                    }
                }
                    .replaceimage{
                        width: 75%;
                    }
                }
                .col-koop-nu-info{
                    position: relative;
                    div{
                        h1{
                        }
                        p{}
                        button{
                        }
                    }
                    .sun{
                        position: absolute;
                        z-index: -1;
                        top: -200px;
                        left: 450px;
                        @media only screen and (max-width: 768px){
                            display: none;
                        }
                    }
                }
            }
            .row-specs{
                flex-wrap: nowrap;
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .row-specs-title{
                    height: 15%;
                    h1{
                        @media only screen and (max-width: 576px){
                            font-size: $headerFontSize;
                        }
                    }
                }
                .row-specs-content{
                    div{
                      img{
                        position: absolute;
                        @media only screen and(max-width: 500px) {
                            transform: scale(1.75);
                            }
                        @media only screen and(max-width: 768px) {
                            transform: scale(1.75);
                            }
                        }
                      .een{}
                      .twee{}
                      .drie{}
                      .vier{}
                      .eenna{
                        animation: een 1.6s ease-in-out;
                        @keyframes een {
                            0%{
                                opacity: 0;
                                left: -750px;
                            }
                            100%{
                                opacity: 1;
                                left: 0px;
                            }
                        }
                      }
                      .tweena{
                            animation: twee 1.3s ease-in-out;
                            @keyframes twee {
                                0%{
                                    opacity: 0;
                                    left: -750px;
                                }
                                100%{
                                    opacity: 1;
                                    left: 0px;
                                }
                            }
                      }
                      .driena{
                          animation: drie 1.7s ease-in-out;
                          @keyframes drie {
                              0%{
                                  opacity: 0;
                                  left: 750px;
                              }
                              100%{
                                  opacity: 1;
                                  left: 0px;
                              }
                          }
                      }
                      .vierna{
                          animation: vier 1.5s ease-in-out;
                          @keyframes vier {
                              0%{
                                  opacity: 0;
                                  left: 750px;
                              }
                              100%{
                                  opacity: 1;
                                  left: 0px;
                              }
                          }
                       }
                    }
                    .cloud1{
                        z-index: -1;
                        top: -50px;
                        left: -350px;
                        width: 60%;
                        position: absolute;
                    }
                    .cloud2{
                        z-index: -1;
                        top: 400px;
                        width: 35%;
                        position: absolute;
                    }
                    .button-c{
                        height: 70vh;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        @media only screen and (max-width: 500px){
                            height: 35vh !important;
                        }
                        @media only screen and (max-width: 768px){
                            height: 55vh;
                        }
                        button{
                        }
                    }
                }
            }
            .row-myping{
                height: 92vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                    display: flex;
                    flex-direction: column;
                }
                .row-myping-mockup{
                    position: relative;
                    animation: mockupFade 1s ease-in;
                    .mockup1{
                        height: 65%;
                    }
                    .mockup2{
                        z-index: -1;
                        position: absolute;
                        height: 60%;
                        left: 150px;
                        bottom: 125px;
                    }
                    @media only screen and (max-width: 768px){
                        width: 50%;
                        order: 1;
                        margin-left: 100px;
                        .mockup2{
                            height: 90%;
                        }
                    }
                    @media only screen and (max-width: 576px){
                        width: 50%;
                        order: 1;
                        margin-top: 100px;
                        margin-left: 30px;
                        .mockup2{
                            height: 80%;
                        }
                    }
                    &.testtest{
                        animation: testtest 2s ease-in;
                        @keyframes testtest {
                            0%{
                                opacity: 0;
                            }
                            100%{
                                opacity: 1;
                            }
                        }
                    }
                }
                .row-myping-info{
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    .row-myping-info-box{
                        height: 60vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            h1{
                                @media only screen and (max-width: 576px){
                                    font-size: $headerFontSize;
                                }
                            }
                            p{
                            }
                            ul{
                                li{}
                            }
                            button{}
                        }
                    }
                    .cloud3{
                        position: absolute;
                        z-index: -2;
                        top: 380px;
                        right: -100px;
                        width: 100%;
                    }
                }
            }
            .row-overping{
                @media only screen and (max-width: 768px){
                    height: auto;
                }
                .row-overping-titel{
                    h1{
                        @media only screen and (max-width: 576px){
                            font-size: $headerFontSize;
                        }
                    }
                }
                .row-overping-tekstblokken{
                    .team-focus-missie{
                        h4{
                          font-family: $bodyFont;
                          font-weight: 600;
                        }
                        p{
                        }
                        &.fadelinks{
                            animation: fadelinks 1.5s ease-in-out;
                            @keyframes fadelinks {
                                0%{
                                    opacity: 0;
                                    left: -400px;
                                }
                                100%{
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }
                        &.fademidden{
                            animation: faderechts 2s ease-in-out;
                            @keyframes faderechts {
                                0%{
                                    opacity: 0;
                                    left: -800px;
                                }
                                100%{
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }
                        &.faderechts{
                            animation: faderechts 2.5s ease-in-out;
                            @keyframes faderechts {
                                0%{
                                    opacity: 0;
                                    left: -1200px;
                                }
                                100%{
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
                .row-overping-info{

                    button{}
                }
                .cloud4{
                    z-index: -1;
                    top: -100px;
                    left: 0px;
                    width: 50%;
                }
            }
        }
        .footer-image{
            .fotos{
                &#bovenlqqg{
                }
                &#mountain{
                }
                &#beach{
                }
                &#water{
                }
                &#land{
                }
            }
        }
        @extend %footer;
        footer{
            background-color: #342D22;
        }
    }
}