* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  color: #fdfffc;
  border: none !important;
  border-radius: 5px;
  padding: 8px 30px;
}

* .custom-button-stroke {
  font-family: proxima-soft, sans-serif;
  background-color: white !important;
  color: #ff9f1c;
  border: solid 2px #ff9f1c !important;
  border-radius: 5px;
  padding: 10px 40px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

body .fullpage nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
          box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav button {
  border: none;
  outline: none;
}

body .fullpage nav button span .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu {
  width: 50px;
  height: 5px;
  background-color: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before, body .fullpage nav button span .hamburger .hamburgermenu::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

body .fullpage nav button span .hamburger .hamburgermenu::after {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
}

body .fullpage nav button span .hamburger.open .hamburgermenu {
  background-color: transparent;
}

body .fullpage nav button span .hamburger.open .hamburgermenu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .fullpage nav button span .hamburger.open .hamburgermenu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list li a {
  padding: 0;
  color: #011627 !important;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 767px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li {
    padding: 10px 0;
    width: 100px;
    border-bottom: 1px solid black;
  }
  body .fullpage nav div .navigation-list li a, body .fullpage nav div .navigation-list li ion-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
  body .fullpage nav div .navigation-list li:last-child {
    border-bottom: none;
  }
}

body .fullpage footer {
  background-color: #011627;
  color: #fdfffc;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body .fullpage footer .column2-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .fullpage footer .column1-footer {
  padding: 0;
}

body .fullpage footer .column1-footer .column1-footer-links a {
  color: #fdfffc;
  font-family: proxima-soft, sans-serif;
  text-decoration: underline;
}

body .fullpage footer .column2-footer {
  padding: 0;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column2-footer h2 {
  font-family: cubano, sans-serif;
}

body .fullpage footer .column2-footer a {
  color: #fdfffc;
}

body .fullpage footer .column2-footer a ion-icon {
  font-size: 1.5625rem;
  margin: 0 5px;
}

body .fullpage footer .column3-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column3-footer .column3-footer-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fullpage footer .column3-footer .column3-footer-info .info ion-icon {
  font-size: 1.5625rem;
  margin: 0 15px;
}

body .fullpage footer .column3-footer .column3-footer-info .info a {
  text-decoration: underline;
  color: #fdfffc;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74E3CF), color-stop(#CCF2EB), to(#CCF2EB));
  background-image: linear-gradient(#74E3CF, #CCF2EB, #CCF2EB);
  overflow-x: hidden;
}

body .fullpage main {
  margin-top: 8vh;
}

body .fullpage main .row-koop-nu {
  height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row-koop-nu {
    height: auto;
  }
}

body .fullpage main .row-koop-nu .col-koop-nu-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fullpage main .row-koop-nu .col-koop-nu-foto .eiland {
  margin-top: 100px;
  width: 90%;
  z-index: -1;
  -webkit-animation: zweef 6s ease-in-out infinite;
          animation: zweef 6s ease-in-out infinite;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
}

@-webkit-keyframes zweef {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes zweef {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

body .fullpage main .row-koop-nu .col-koop-nu-foto .replaceimage {
  width: 75%;
}

body .fullpage main .row-koop-nu .col-koop-nu-info {
  position: relative;
}

body .fullpage main .row-koop-nu .col-koop-nu-info .sun {
  position: absolute;
  z-index: -1;
  top: -200px;
  left: 450px;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row-koop-nu .col-koop-nu-info .sun {
    display: none;
  }
}

body .fullpage main .row-specs {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row-specs {
    height: auto;
  }
}

body .fullpage main .row-specs .row-specs-title {
  height: 15%;
}

@media only screen and (max-width: 576px) {
  body .fullpage main .row-specs .row-specs-title h1 {
    font-size: 3.125rem;
  }
}

body .fullpage main .row-specs .row-specs-content {
  height: 75%;
  position: relative;
}

body .fullpage main .row-specs .row-specs-content div img {
  max-width: 75%;
}

body .fullpage main .row-specs .row-specs-content .cloud1 {
  z-index: -1;
  top: -50px;
  left: -350px;
  width: 100%;
  position: absolute;
}

body .fullpage main .row-specs .row-specs-content .cloud2 {
  z-index: -1;
  top: 400px;
  width: 70%;
  position: absolute;
}

body .fullpage main .row-myping {
  height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row-myping {
    height: auto;
  }
}

body .fullpage main .row-myping .row-myping-mockup {
  position: relative;
}

body .fullpage main .row-myping .row-myping-mockup .mockup1 {
  height: 65%;
}

body .fullpage main .row-myping .row-myping-mockup .mockup2 {
  z-index: -1;
  position: absolute;
  height: 60%;
  left: 150px;
  bottom: 125px;
}

body .fullpage main .row-myping .row-myping-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

body .fullpage main .row-myping .row-myping-info .row-myping-info-box {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  body .fullpage main .row-myping .row-myping-info .row-myping-info-box div h1 {
    font-size: 3.125rem;
  }
}

body .fullpage main .row-myping .row-myping-info .cloud3 {
  z-index: -2;
  top: 380px;
  right: -100px;
  width: 100%;
}

body .fullpage main .row-overping {
  height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .row-overping {
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  body .fullpage main .row-overping .row-overping-titel h1 {
    font-size: 3.125rem;
  }
}

body .fullpage main .row-overping .row-overping-tekstblokken .team-focus-missie h4 {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
}

body .fullpage main .row-overping .cloud4 {
  z-index: -1;
  top: -100px;
  left: 0px;
  width: 50%;
}

body .fullpage footer {
  background-color: #342D22;
}
/*# sourceMappingURL=index.css.map */