@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body {
    .fullpage {
        @extend %navigation;
        main {
            margin-top: 8vh;
            height: 92vh;
            @media only screen and (max-width: 768px){
               height: auto;
            }
            .login-box {
                height: 100%;
                .login {
                    padding-left: 150px !important; 
                    .login-header {
                        h1 {
                            font-family: $headerFont;
                        }
                    }
                    .login-email {}
                    .login-wachtwoord {}
                    .login-checkbox {}
                    .login-button {}
                }
                .registreer {
                    height: 100%;
                    background-color: #DEEFED;
                    padding-right: 150px !important;
                    .registreer-header {
                        font-family: $headerFont
                    }
                    .registreer-input{
                        div{
                            .registreer-naam {}
                            .registreer-email {}
                            .registreer-straat {}
                            .registreer-telefoon {}
                            .registreer-wachtwoord {}
                            .registreer-stad {}
                        }
                    }
                    .registreer-checkbox{}
                    .registreer-button{}
                }
            }
        }
        @extend %footer;
    } 
}           