@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
    input{
        max-width: 350px;
    }
}
body {
    .fullpage {
        @extend %navigation;
        main {
            margin-top: 8vh;
            height: 92vh;
            @media only screen and (max-width: 991px){
               height: auto;
            }
            .login-box {
                height: 100%;
                .login {
                    padding: 50px 75px 0 150px;
                    @media only screen and (max-width: 991px){
                        padding: 50px 75px;
                    }
                    .login-header {
                        h1 {
                            font-family: $headerFont;
                        }
                    }
                    #form-login{
                        position: relative;
                        .melding-login {
                            position: absolute;
                            visibility: hidden;
                        }
                        .login-email {}
                        .login-wachtwoord {}
                    }
                    .login-checkbox {}
                    .login-button {}
                }
                .registreer {
                    position: relative;
                    overflow-x: hidden;
                    padding: 50px 150px 50px 75px;
                    @media only screen and (max-width: 991px){
                        padding: 50px 75px;
                    }
                    background-color: #DEEFED;
                    .registreer-header {
                        font-family: $headerFont
                    }
                    .melding-registreer{
                        p{
                            position: absolute;
                            visibility: hidden;
                        }
                    }
                    .registreer-input{
                        div{
                            .registreer-naam {}
                            .registreer-email {}
                            .registreer-straat {}
                            .registreer-telefoon {}
                            .registreer-wachtwoord {}
                            .registreer-stad {}
                        }
                    }
                    .registreer-checkbox{}
                    .registreer-button{}
                }
            }
        }
        @extend %footer;
    } 
}           