@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;
        .uber-main-container{
            overflow-x: hidden;
            .wereldbol{
                top: 250px;
                left: 1000px;
                @media only screen and(max-width: 1100px) {
                    top: 400px;
                    left: 400px;
                }
                @media only screen and(max-width: 768px) {
                    top: 90px;
                    left: 150px;
                }
            }
        }
        main{
            margin-top: 8vh;
            position: relative;
            overflow-x: hidden;
            .color-even-ani{
                width: 98%;
                height: 60px;
                background-color: $accent2Color;
                position: absolute;
                margin-top: 100px;
                border-radius: 5px;
                @media only screen and(max-width: 768px) {
                    display: none;
                }
                animation: animationEven 1.2s ease-in-out;
                @keyframes animationEven {
                    0%{
                        margin-left: 1500px;
                    }
                    100%{
                        margin-left: 0px;
                    }
                }
            }
            .color-odd-ani{
                width: 98%;
                height: 60px;
                background-color: $secondaryColor;
                position: absolute;
                margin-top: 100px;
                border-radius: 5px;
                @media only screen and(max-width: 768px) {
                    display: none;
                }
                animation: animationOdd 1s ease-in-out;
                @keyframes animationOdd {
                    0%{
                        margin-left: -1500px;
                    }
                    100%{
                        margin-left: 0px;
                    }
                }
            }
            .row{
                .column-header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .topparagraaf{
                        font-size: 1.2rem;                    }
                    .header-text{
                        font-size: $headerFontSize *1.5;
                    }
                    h4{
                        font-family: $bodyFont;
                        font-weight: 400;
                        
                    }
                    p{
                    
                    }
                    
                }
                
                .column-content{
                    box-sizing: border-box;
                    overflow: hidden;
                    
                    h6{
                        font-family: $bodyFont;
                        font-size: 1.2rem;
                        font-weight: 800;

                    }
                    .text-md-right{
                        @media only screen and(max-width: 768px){
                            background-color: $accent2Color;
                            border-radius: 5px;
                            
                        }
                    }
                    .text-md-left{
                        @media only screen and(max-width: 768px) {
                            background-color: $secondaryColor;
                            border-radius: 5px;
                        }
                    }
                    h1  {
                    font-family: $bodyFont;
                    font-size:$headerFontSize;
                    h4{
                        font-family: $bodyFont;
                        font-size:1.5rem;
                        
                    }
                    }
                    p{
                        font-family: $bodyFont;
                    font-size: $bodyFontSize;
                    padding-top: 50px;
                    @media only screen and(max-width: 576px)
                    {
                        padding-top: 0;
                    }
                    }  
                    @media only screen and (max-width: 768px){
                        order: 1;
                    }
                    
                }
                .column-picture{
                    height: 100%;
                    img{
                    }
                    &:nth-child(even){
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                    
                }
                
            }
        }
        @extend %footer;
    }
}
