@import "./generalStyles";
@import "./components";

*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;

        .uber-main-container{
            background-image: url(../Images/globeGroot.png);
            background-size: contain;
            background-repeat: no-repeat;


        main{
            margin-top: 8vh;
            
            .row{


                .column-header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-text{
                        font-size: $headerFontSize *1.5;
                    }
                    h4{
                        font-family: $bodyFont;
                        
                    }
                    p{
                      
                    }
                    
                }
                
                .column-content{
                    box-sizing: border-box;
                    overflow: hidden;
                    .text-md-right{
                        background-color: $accent2Color;
                    }
                    .text-md-left{
                        background-color: $secondaryColor;
                    }
                    h1  {
                    font-family: $bodyFont;
                    font-size:$headerFontSize;
                    h4{
                        font-family: $bodyFont;
                        font-size: $bodyFontSize;
                    }
                    }
                    p{
                        font-family: $bodyFont;
                      font-size: $bodyFontSize;
                    }  
                    @media only screen and (max-width: 768px){
                        order: 1;
                    }
                }
                .column-picture{
                    height: 100%;
                   
                    
                    img{
                    }
                    &:nth-child(even){
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                
            }
        }
        }
    }
    
        @extend %footer;
    }
}
