* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  color: #fdfffc;
  border: none !important;
  border-radius: 5px;
  padding: 8px 30px;
}

* .custom-button-stroke {
  font-family: proxima-soft, sans-serif;
  background-color: white !important;
  color: #ff9f1c;
  border: solid 2px #ff9f1c !important;
  border-radius: 5px;
  padding: 10px 40px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

body .fullpage nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
          box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav button {
  border: none;
  outline: none;
}

body .fullpage nav button span .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu {
  width: 50px;
  height: 5px;
  background-color: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before, body .fullpage nav button span .hamburger .hamburgermenu::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

body .fullpage nav button span .hamburger .hamburgermenu::after {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
}

body .fullpage nav button span .hamburger.open .hamburgermenu {
  background-color: transparent;
}

body .fullpage nav button span .hamburger.open .hamburgermenu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .fullpage nav button span .hamburger.open .hamburgermenu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list li a {
  padding: 0;
  color: #011627 !important;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 767px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li {
    padding: 10px 0;
    width: 100px;
    border-bottom: 1px solid black;
  }
  body .fullpage nav div .navigation-list li a, body .fullpage nav div .navigation-list li ion-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
  body .fullpage nav div .navigation-list li:last-child {
    border-bottom: none;
  }
}

body {
  background-color: #DEEFED;
}

body .fullpage .container {
  margin-top: 30vh;
}

body .fullpage .container .row-specs .linkerkolom .titel-spec .specificaties {
  color: #011627;
}

body .fullpage .container .row-specs .tekst {
  margin-top: 2vh;
}

body .fullpage .container .row-specs .tekst p {
  padding: 1vh;
}

body .fullpage .container .row-specs .btn-koopnu .koopnu {
  margin-left: 1vh;
}

body .rechterkolom .cloud5 {
  position: absolute;
  width: 100%;
}

body .rechterkolom .cloud6 {
  position: absolute;
  width: 100%;
  top: 200px;
}

body .rechterkolom .bandje {
  position: absolute;
  width: 100%;
  margin-left: 350px;
  margin-top: -100px;
}

body .row-tecs .row .blok1 {
  width: 260px;
  height: 64px;
  background-color: #2EC4B6;
  color: #fff;
  text-align: center;
  border: 2 solid #2EC4B6;
  border-radius: 5px;
  margin: 15px;
  text-transform: uppercase;
  padding-top: 18px;
}

body .row-tecs .row .blok2 {
  width: 1088px;
  height: 64px;
  background-color: #fff;
  color: #011627;
  border-radius: 5px;
  margin: 15px;
  padding-top: 18px;
  padding-left: 80px;
}
/*# sourceMappingURL=product.css.map */