@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
    background-color: #DEEFED;
}
body{
  .fullpage{
    @extend %navigation;
      .container{
        margin-top: 30vh;
        .row-specs{
          .linkerkolom{
            .titel-spec{
               .specificaties{
                 color: #011627;
               }
                }   
                 }
        .tekst{
          margin-top: 2vh;
          p{
            padding: 1vh;
          }
        }
        .btn-koopnu{
          margin-top: 200px;
            
          }
        }
      }
      
    }
    .rechterkolom{
      .cloud5{
        position: absolute;
        width: 100%;
      }
      .cloud6{
        position: absolute;
        width: 100%;
        top:200px;
      }

    }
    
}
  @extend %footer;
}
