* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  color: #fdfffc;
  border: none !important;
  border-radius: 5px;
  padding: 8px 30px;
}

* .custom-button-stroke {
  font-family: proxima-soft, sans-serif;
  background-color: white !important;
  color: #ff9f1c;
  border: solid 2px #ff9f1c !important;
  border-radius: 5px;
  padding: 6px 30px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

body .fullpage nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
          box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav button {
  border: none;
  outline: none;
}

body .fullpage nav button div .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu {
  width: 50px;
  height: 5px;
  background-color: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu::before, body .fullpage nav button div .hamburger .hamburgermenu::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button div .hamburger .hamburgermenu::before {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

body .fullpage nav button div .hamburger .hamburgermenu::after {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
}

body .fullpage nav button div .hamburger.open .hamburgermenu {
  background-color: transparent;
}

body .fullpage nav button div .hamburger.open .hamburgermenu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .fullpage nav button div .hamburger.open .hamburgermenu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list li a {
  padding: 0;
  color: #011627 !important;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 767px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li {
    padding: 10px 0;
    width: 100px;
    border-bottom: 1px solid black;
  }
  body .fullpage nav div .navigation-list li a, body .fullpage nav div .navigation-list li ion-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
  body .fullpage nav div .navigation-list li:last-child {
    border-bottom: none;
  }
}

body footer {
  background-color: #011627;
  color: #fdfffc;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body footer .column2-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body footer .column1-footer {
  padding: 0;
}

body footer .column1-footer .column1-footer-links a {
  color: #fdfffc;
  font-family: proxima-soft, sans-serif;
  text-decoration: underline;
}

body footer .column2-footer {
  padding: 0;
  font-family: proxima-soft, sans-serif;
}

body footer .column2-footer h2 {
  font-family: cubano, sans-serif;
}

body footer .column2-footer a {
  text-decoration: none;
  color: #fdfffc;
}

body footer .column2-footer a ion-icon {
  font-size: 1.5625rem;
  margin: 0 5px;
}

body footer .column3-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: proxima-soft, sans-serif;
}

body footer .column3-footer .column3-footer-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .column3-footer .column3-footer-info .info ion-icon {
  font-size: 1.5625rem;
  margin: 0 15px;
}

body footer .column3-footer .column3-footer-info .info a {
  text-decoration: underline;
  color: #fdfffc;
}

body {
  background-color: #DEEFED;
}

body .fullpage .container {
  margin-top: 26vh;
  /*test
    .row-tecs{
      .row{
        .blok1{
          width: 260px;
          height: 64px;
          background-color:#2EC4B6;
          color: #fff;
          text-align: center;
          border: 2 solid #2EC4B6;
          border-radius: 5px;
          margin: 15px;
          text-transform:uppercase;
          padding-top: 18px;
      }
      .blok2{
        width: 1088px;
        height: 64px;
        background-color: #fff;
        color: #011627;
        border-radius: 5px;
        margin: 15px;
        padding-top: 18px;
        padding-left: 80px;
      }
      }
    }
  */
}

body .fullpage .container .row-specs .linkerkolom .titel-spec .specificaties {
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-specs .linkerkolom .titel-spec .specificaties {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body .fullpage .container .row-specs .linkerkolom .tekst {
  margin-top: 4vh;
}

body .fullpage .container .row-specs .linkerkolom .tekst p {
  padding: 1vh;
  margin-bottom: 4vh;
}

body .fullpage .container .row-specs .linkerkolom .btn-koopnu .koopnu {
  margin-left: 1vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-specs .linkerkolom .btn-koopnu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body .fullpage .container .row-specs .rechterkolom .cloud6 {
  position: absolute;
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-specs .rechterkolom .cloud6 {
    visibility: hidden;
  }
}

body .fullpage .container .row-specs .rechterkolom .cloud7 {
  position: absolute;
  width: 100%;
  top: 300px;
  left: 200px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-specs .rechterkolom .cloud7 {
    visibility: hidden;
  }
}

body .fullpage .container .row-specs .rechterkolom .bandje {
  position: absolute;
  width: 100%;
  left: 350px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-specs .rechterkolom .bandje {
    visibility: hidden;
  }
}

body .fullpage .container .cloud5 {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -600px;
  right: -100px;
}

body .fullpage .container .titel-tecs {
  margin-top: 200px;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .titel-tecs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}

body .fullpage .container .table-tecs {
  margin-top: 150px;
  margin-bottom: 50px;
}

body .fullpage .container .table-tecs .Tlinks {
  width: 260px;
  height: 64px;
  background-color: #2EC4B6;
  color: #fff;
  text-align: center;
  border: 2 solid #2EC4B6;
  text-transform: uppercase;
  padding-top: 18px;
}

body .fullpage .container .table-tecs .Trechts {
  width: 1088px;
  height: 64px;
  background-color: #fff;
  color: #011627;
  padding-top: 18px;
  padding-left: 80px;
}

body .fullpage .container .cloud8 {
  position: absolute;
  width: 100%;
  z-index: -1;
  right: -1000px;
}

body .fullpage .container .row-app {
  margin-top: 400px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .scherm1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -300px;
  }
}

body .fullpage .container .row-app .tekst-scherm1 {
  color: #011627;
  /*
        .bomen{
          width: 100%;
          left: 100px;
          position: absolute;
*/
}

body .fullpage .container .row-app .tekst-scherm1 .titel-app {
  color: #011627;
  margin-bottom: 150px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .tekst-scherm1 .titel-app {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

body .fullpage .container .row-app .tekst-scherm1 .titelP {
  font-size: 22px;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .tekst-scherm1 .titelP {
    font-weight: 600;
  }
}

body .fullpage .container .row-app .tekst-scherm1 .tekstP {
  font-size: 16px;
  color: #011627;
}

body .fullpage .container .row-app .tekst-scherm1 .tekstP {
  font-size: 16px;
  color: #011627;
}

body .fullpage .container .row-app .tekst-scherm2 {
  color: #011627;
  margin-top: 150px;
}

body .fullpage .container .row-app .tekst-scherm2 .titelP {
  font-size: 22px;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .tekst-scherm2 .titelP {
    font-weight: 600;
    margin-top: -100px;
  }
}

body .fullpage .container .row-app .tekst-scherm2 .tekstP {
  font-size: 16px;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .tekst-scherm2 .download {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .fullpage .container .row-app .scherm2 {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  body .fullpage .container .row-app .scherm2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=product.css.map */