@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
  background-color: #DEEFED;
  overflow-x:hidden;
  .fullpage{
    @extend %navigation;
      .container{
        margin-top: 26vh;
        .row-specs{
          .linkerkolom{
            .titel-spec{
               .specificaties{
                 color: #011627;
                 @media only screen and (max-width: 768px){
                  justify-content: center;
                  display: flex;
              }
               }
              } 
        .tekst{
          margin-top: 4vh;
          p{
            padding: 1vh;
            margin-bottom: 4vh;
          }
        }
        .btn-koopnu{
          .koopnu{
            margin-left: 1vh;
            }
            @media only screen and (max-width: 768px){
              justify-content: center;
              display: flex;
          }
          }
        }
        .rechterkolom{
          .cloud6{
            position: absolute;
            width: 100%;
            margin-left: 100px;
            margin-top: 100px;
            @media only screen and (max-width: 768px){
              visibility: hidden;
          }
           
          }
          .cloud7{
            position: absolute;
            width: 100%;
            top:300px;
            left: 200px;
            @media only screen and (max-width: 768px){
              visibility: hidden;
          }
          }
          .bandje{
            position: absolute;
            width: 100%;
            left: 350px;
            @media only screen and (max-width: 768px){
              visibility: hidden;
          }
          }
        }
    
        }
      .cloud5{
        position: absolute;
        width: 100%;
        z-index: -1;
        bottom: -600px;
        right: -100px;
      }
      .titel-tecs{
        margin-top: 200px;
        color: #011627;
        @media only screen and (max-width: 768px){
          justify-content: center;
          display: flex;
          margin-top: 50px;
      }
      }
/*test
    .row-tecs{
      .row{
        .blok1{
          width: 260px;
          height: 64px;
          background-color:#2EC4B6;
          color: #fff;
          text-align: center;
          border: 2 solid #2EC4B6;
          border-radius: 5px;
          margin: 15px;
          text-transform:uppercase;
          padding-top: 18px;
      }
      .blok2{
        width: 1088px;
        height: 64px;
        background-color: #fff;
        color: #011627;
        border-radius: 5px;
        margin: 15px;
        padding-top: 18px;
        padding-left: 80px;
      }
      }
    }
  */
    .table-tecs{
      margin-top: 150px;
      margin-bottom: 50px;
      .Tlinks{
        width: 260px;
          height: 64px;
          background-color:#2EC4B6;
          color: #fff;
          text-align: center;
          border: 2 solid #2EC4B6;
          text-transform:uppercase;
          padding-top: 18px;
      }
      .Trechts{
        width: 1088px;
        height: 64px;
        background-color: #fff;
        color: #011627;
        padding-top: 18px;
        padding-left: 80px;
      }
      }
    
    .cloud8{
      position: absolute;
      width: 100%;
      z-index: -1;
      right:-1000px;
    }

    .row-app{
      margin-top: 400px;
      .scherm1{
        @media only screen and (max-width: 960px){
          justify-content: center;
          display: flex;
          margin-top: -300px;
      }
        img{}
      }
      .tekst-scherm1{
        color: #011627;

        .titel-app{
          color: #011627;
          margin-bottom: 150px;

          @media only screen and (max-width: 960px){
            justify-content: center;
            display: flex;
            margin-top: 50px;
            margin-bottom: 0;
        }
      }
        /*
        .bomen{
          width: 100%;
          left: 100px;
          position: absolute;
*/
        
        .titelP{
          font-size: 22px;
          color: #011627;

          @media only screen and (max-width: 960px){
            font-weight: 600;
        }
        }
        .tekstP{
          font-size: 16px;
          color: #011627;
        }
        .tekstP{
          font-size: 16px;
          color: #011627;
        }
      }
      .tekst-scherm2{
        color: #011627;
        margin-top: 150px;

        .titelP{
          font-size: 22px;
          color: #011627;

          @media only screen and (max-width: 960px){
            font-weight: 600;
            margin-top: -100px;
        }
      }
        .tekstP{
            font-size: 16px;
            color: #011627;
          }
        .download{
          img{
            min-height: 50px;
            max-width: 130px;
          }
          @media only screen and (max-width: 960px){
            justify-content: center;
            display: flex;
            justify-content: space-between;
        }
        }
        
      }
      .scherm2{
        margin-bottom: 100px;
        @media only screen and (max-width: 960px){
          justify-content: center;
          display: flex;
          margin-top: 50px;
      }
      }
      }
    }
  }
  @extend %footer;
}


