@import "./components";
@import "./generalStyles";

*{
    @extend %opmaak;
}
body{
    .fullpage{
        @extend %navigation;
        main{
            margin-top: 8vh;
            height: 92vh;
            @media only screen and (max-width: 768px){
               height: auto;
            }
            .winkelmandje{
                height: 100%;
                .winkelmandje-details{
                    .winkelmandje-details-box{
                        .image-product{
                            min-width: 180px;
                            max-width: 180px;
                            @media only screen and (max-width: 991px) {
                                min-width: 120px;
                                max-width: 120px;
                            }
                        }
                        .winkelmandje-details-box-header{
                            h1{
                            }
                        }
                        .winkelmandje-details-box-title{
                            font-family: $bodyFont;
                            border-bottom: 1px solid $primary1Color;
                            border-top: 1px solid $primary1Color;
                            .winkelmandje-details-box-title-details{
                                h4{
                                    font-family: $bodyFont;
                                }
                            }
                            .winkelmandje-details-box-title-Aantal-prijs-totaal{
                                h4{
                                    font-family: $bodyFont;
                                }
                            }
                        }
                        .winkelmandje-details-box-info{
                            font-family: $bodyFont;
                            //border-bottom: 1px solid $primary1Color;
                            .winkelmandje-details-box-info-details{
                                width: 100%;
                                .winkelmandje-details-box-info-details-product{
                                    width: 50%;
                                    @media only screen and (max-width: 768px){
                                        order: 1;
                                     }
                                    p{
                                        background-color: $primary1Color;   
                                        height: 300px;
                                        min-width: 100px;
                                    }
                                }
                            }
                            .winkelmandje-details-box-info-Aantal-prijs-totaal{
                                display: flex;
                                div{
                                    input{
                                        width: 25px;
                                    }
                                }
                                .media-title{
                                    font-weight: bold;
                                }
                                p{
                                }
                            }
                        }
                        .winkelmandje-details-box-verder{
                            a{
                                color: $primary1Color;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .winkelmandje-betalen{
                    .winkelmandje-betalen-box{
                        border-radius: 5px;
                        background-color: #DEEFED;
                        .winkelmandje-betalen-overzicht{
                            border-bottom: 1px solid $primary1Color;
                            h4{}
                        }
                        .winkelmandje-betalen-promotie{
                            border-bottom: 1px solid $primary1Color;
                            p{
                            }
                            input{}
                        }
                        .winkelmandje-betalen-aantal{
                            border-bottom: 1px solid $primary1Color;
                            p{}
                            div{
                                p{}
                            }
                        }
                        .winkelmandje-betalen-foto{
                            border-bottom: 1px solid $primary1Color;
                            .foto{
                                height: 20vh;
                            }
                        }
                        .winkelmandje-betalen-totaal{
                            p{}
                        }
                        .winkelmandje-betalen-betalen{
                            button{}
                        }
                    }
                }
            }
        }
        @extend %footer;
    }
}