* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .custom-button {
  font-family: proxima-soft, sans-serif;
  background-color: #ff9f1c !important;
  color: #fdfffc;
  border: none !important;
  border-radius: 5px;
  padding: 12px 40px;
}

* p {
  padding: 0;
  margin: 0;
  font-family: proxima-soft, sans-serif;
  font-size: 1rem;
}

* a {
  padding: 0;
  margin: 0;
}

* h1, * h2, * h3, * h4, * h5 {
  padding: 0;
  margin: 0;
}

* h1 {
  font-family: cubano, sans-serif;
  font-size: 3.125rem;
}

body .fullpage nav {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
          box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.25);
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav {
    height: auto;
  }
}

body .fullpage nav .brand {
  font-family: cubano, sans-serif;
  color: #011627;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

body .fullpage nav button {
  border: none;
  outline: none;
}

body .fullpage nav button span .hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu {
  width: 50px;
  height: 5px;
  background-color: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before, body .fullpage nav button span .hamburger .hamburgermenu::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #011627;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .fullpage nav button span .hamburger .hamburgermenu::before {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

body .fullpage nav button span .hamburger .hamburgermenu::after {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
}

body .fullpage nav button span .hamburger.open .hamburgermenu {
  background-color: transparent;
}

body .fullpage nav button span .hamburger.open .hamburgermenu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .fullpage nav button span .hamburger.open .hamburgermenu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .fullpage nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .fullpage nav div .navigation-list li a {
  padding: 0;
  color: #011627 !important;
}

body .fullpage nav div .navigation-list li a ion-icon {
  color: #011627;
  font-size: 1.5625rem;
}

body .fullpage nav div .navigation-list li .active {
  text-decoration: underline;
  color: #011627;
}

@media only screen and (max-width: 768px) {
  body .fullpage nav div .navigation-list {
    width: 100%;
  }
  body .fullpage nav div .navigation-list li {
    padding: 10px 0;
    width: 100px;
    border-bottom: 1px solid black;
  }
  body .fullpage nav div .navigation-list li a, body .fullpage nav div .navigation-list li ion-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
  body .fullpage nav div .navigation-list li:nth-child(5) {
    display: none;
  }
  body .fullpage nav div .navigation-list li:last-child {
    border-bottom: none;
  }
}

body .fullpage footer {
  background-color: #011627;
  color: #fdfffc;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body .fullpage footer .column2-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .fullpage footer .column1-footer {
  padding: 0;
}

body .fullpage footer .column1-footer .column1-footer-links a {
  color: #fdfffc;
  font-family: proxima-soft, sans-serif;
  text-decoration: underline;
}

body .fullpage footer .column2-footer {
  padding: 0;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column2-footer h2 {
  font-family: cubano, sans-serif;
}

body .fullpage footer .column2-footer a {
  color: #fdfffc;
}

body .fullpage footer .column2-footer a ion-icon {
  font-size: 1.5625rem;
  margin: 0 5px;
}

body .fullpage footer .column3-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: proxima-soft, sans-serif;
}

body .fullpage footer .column3-footer .column3-footer-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fullpage footer .column3-footer .column3-footer-info .info ion-icon {
  font-size: 1.5625rem;
  margin: 0 15px;
}

body .fullpage footer .column3-footer .column3-footer-info .info a {
  text-decoration: underline;
  color: #fdfffc;
}

body .fullpage main {
  margin-top: 8vh;
  height: 92vh;
}

@media only screen and (max-width: 768px) {
  body .fullpage main {
    height: auto;
  }
}

body .fullpage main .winkelmandje {
  height: 100%;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-title {
  font-family: proxima-soft, sans-serif;
  border-bottom: 1px solid #011627;
  border-top: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-title .winkelmandje-details-box-title-details h4 {
  font-family: proxima-soft, sans-serif;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-title .winkelmandje-details-box-title-Aantal-prijs-totaal h4 {
  font-family: proxima-soft, sans-serif;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info {
  font-family: proxima-soft, sans-serif;
  border-bottom: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-details {
  width: 100%;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-details .winkelmandje-details-box-info-details-product {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-details .winkelmandje-details-box-info-details-product {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-details .winkelmandje-details-box-info-details-product p {
  background-color: #011627;
  height: 300px;
  min-width: 100px;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-Aantal-prijs-totaal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-Aantal-prijs-totaal div input {
  width: 25px;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-info .winkelmandje-details-box-info-Aantal-prijs-totaal .media-title {
  font-weight: bold;
}

body .fullpage main .winkelmandje .winkelmandje-details .winkelmandje-details-box .winkelmandje-details-box-verder a {
  color: #011627;
  text-decoration: underline;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box {
  border-radius: 5px;
  background-color: #c4bfbf;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box .winkelmandje-betalen-overzicht {
  border-bottom: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box .winkelmandje-betalen-promotie {
  border-bottom: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box .winkelmandje-betalen-aantal {
  border-bottom: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box .winkelmandje-betalen-foto {
  border-bottom: 1px solid #011627;
}

body .fullpage main .winkelmandje .winkelmandje-betalen .winkelmandje-betalen-box .winkelmandje-betalen-foto .foto {
  height: 20vh;
}
/*# sourceMappingURL=winkelmandje.css.map */